a {
	color: #9cb4d8;
}

a:hover {
	color: #9cb4d8;
}

.link {
	color: #365899;
}

.link:hover {
	 color: #365899;
}

.rs:hover {
background-color: #365899;
padding: 3px;
}

input-placeholder {
	font-family: inherit;
}

.aa:link {
	color: #365899;
}

.aa:active {
	color: #365899;
}

.aa:visited {
	color: #365899;
}

.bb {
	word-spacing: 1px;
}

a.help {
	color: #365899; 
	font-family: Arial; 
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}