* {
	padding: 0;
	margin: 0;

}


a {
	color: #9cb4d8;
}

a:hover {
	color: #9cb4d8;
}

.link {
	color: #365899;
}

.link:hover {
	 color: #365899;
}

.rs:hover {
background-color: #365899;
padding: 3px;
}

input-placeholder {
	font-family: inherit;
}

.aa:link {
	color: #365899;
}

.aa:active {
	color: #365899;
}

.aa:visited {
	color: #365899;
}

.bb {
	word-spacing: 1px;
}

a.help2 {
	color: #365899; 
	font-family: Arial; 
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.help2:hover {
	padding-top: 14px;
	padding-bottom: 11px;
	padding-right: 22px;
	background-color: #e9eaed;
}

a.help3 {
	color: #365899; 
	font-family: Arial; 
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.help3:hover {
	padding-top: 14px;
	padding-bottom: 11px;
	padding-right: -20px;
	background-color: #e9eaed;
}

a.help {
	color: #365899; 
	font-family: Arial; 
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}

.helps:hover {
	background-color: #e9eaed;
}